<h2>Edit House <%=@house.name %>, yo</h2>
<div class="edit-house-container">
  <%= form_for @house do |f| %>
  <div class='house-edit-form'>
    <p><%= f.label :name %></p>
    <%= f.text_field :name %>
  </div>
  <div class='house-edit-form'>
    <p><%= f.label :region %></p>
    <%= f.text_field :region %>
  </div>
  <div class='house-edit-form'>
    <p><%= f.label :seat_url %></p>
    <%= f.text_field :seat_url %>
  </div>
  <div class='house-edit-form'>
    <p><%= f.label "sigil photo URL" %></p>
    <%= f.text_field :sigil_url %>
  </div>
  <div class='house-edit-form'>
    <p><%= f.label :motto %></p>
    <%= f.text_field :motto %>
  </div>
  <div class='house-edit-form'>
    <p><%= f.label "Great House"%></p>
    <%= f.radio_button(:great_house, true) %>
    <%= label_tag(:great_house, "Yes") %>
    <%= f.radio_button(:great_house, false) %>
    <%= label_tag(:great_house, "No") %>
  </div>
  <div class='house-edit-form'>
    <p><%= f.label :allegiance %></p>
    <%= f.text_field :allegiance %>
  </div>
  <div class='house-edit-form'>
    <p><%= f.label :username %></p>
    <%= f.collection_select(:user_id, User.all, :id, :username) %>
  </div>
  <div class='house-edit-form'>
    <p><%= f.submit %></p>
  </div>
  <% end %>
  <p class='delete-house'>caution: deleting houses is dangerous</p>
  <%=form_for @house do |f|%>
  <div class='house-edit-form'>
  <%= button_to "Delete House", @character, method: :delete, class: "delete" %>
  </div>
  <% end %>
</div>
