<h2>Sign Up</h2>
<%= form_for @user do |f| %>
<div id="user-wrapper">
  <div id="user-el">
  <%= f.label :username %>
  <%= f.text_field :username %>
  </div>
  <%= f.label :password %>
  <%= f.password_field :password %>
  </div>
  <div id="user-el">
  <%= f.label :email %>
  <%= f.text_field :email %>
  </div>
  <div id="user-el">
  <%= f.submit "Submit" %>
  </div>
<% end %>
</div>
