<h2>Sign Up</h2>
<%= form_for @user do |f| %>
<div class='user-wrapper'>
  <div id='user-el'>
    <p><%= f.label :username %></p>
    <%= f.text_field :username %>
  </div>
  <div id='user-el'>
    <p><%= f.label :password %></p>
    <%= f.password_field :password %>
  </div>
  <div id='user-el'>
    <p><%= f.label :email %></p>
    <%= f.text_field :email %>
  </div>
  <div id='user-el'>
    <p><%= f.submit 'Submit' %></p>
  </div>
  <% end %>
</div>
