<h2>edit character</h2>
<div class='edit-char-container'>
  <%= form_for @character do |f| %>
  <div class='char-edit-form'>
    <p><%= f.label :name %></p>
    <%= f.text_field :name %>
  </div>
  <div class='char-edit-form'>
    <p><%= f.label :gender %></p>
    <%= f.text_field :gender %>
  </div>
  <div class='char-edit-form'>
    <p><%= f.label :photo_url %></p>
    <%= f.text_field :photo_url %>
  </div>
  <div class='char-edit-form'>
    <p><%= f.label :primary_weapon %></p>
    <%= f.text_field :primary_weapon %>
  </div>
  <div class='char-edit-form'>
    <p><%= f.label :quote %></p>
    <%= f.text_area :quote %>
  </div>
  <div class='char-edit-form'>
    <p><%= f.label :status %></p>
    <%= f.text_field :status %>
  </div>
  <div class='char-edit-form'>
    <p><%= f.label :house_id %></p>
    <%= f.collection_select(:house_id, House.all, :id, :name) %>
  </div>

  <div class='char-edit-form'>
    <%= f.submit %>
  </div>
  <% end %>
  <p>caution, delete event below</p>
  <%=form_for @character do |f|%>
  <div class='char-edit-form'>
    <%= button_to "Delete", @character, method: :delete, class: "delete" %>
  <% end %>
  </div>
</div>
