<h2><%= @character.name %></h2>
<div class='char-show-wrapper'>
  <div class='char-show'>
    <img src='<%=@character.photo_url %>' alt='character' class='char-photo'>
  </div>
  <div class='char-show' class='quote'>
    "<%= @character.quote %>"
  </div>
  <div class='char-show'>
    House: <%= @character.house.name %>
  </div>
  <div class='char-show'>
    Weapon: <%= @character.primary_weapon %>
  </div>
  <div class='char-show'>
    Status: <%= @character.status %>
  </div>
  <div class='char-show'>
    <p>Updated By: <%if @character.user == nil%>
      <%= "SEED"%>
      <% else %>
      <%=@character.user.email%>
      <% end%></p>
    </div>
    <% if current_user %>
      <%=link_to "Edit #{@character.name}", edit_character_path %>
      <% end %>
  </div>
