<!DOCTYPE html>
<html>
<head>
  <title>Ice And Fire</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=MedievalSharp' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class='header'>
  <nav>
    <h1>song of ice and fire wiki</h1>
    <ul>
      <li><%= link_to 'Houses', houses_path %></li>
      <li><%= link_to 'Characters', characters_path %></li>
      <li><%= link_to 'Add House', new_house_path %></li>
      <li><%= link_to 'Add Character', new_character_path %></li>
      <li><%= link_to "Sign Up", new_user_path %></li>
      <li><%= link_to "Users", users_path %></li>
    </ul>
  </nav>
  </div>

  <%= yield %>

</body>
</html>
